@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.toggleOut {
  animation: fadeout 500ms;
  opacity: 0;
}

.toggleIn {
  animation: fadein 500ms;
  opacity: 1;
}

body{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd8c1), to(#ffd8c1));
    background-image: -webkit-linear-gradient(#ffd8c1, #ffd8c1);
    background-image: -o-linear-gradient(#ffd8c1, #ffd8c1);
    background-image: linear-gradient(#ffd8c1, #ffd8c1);
}

.main-container{
  height: 100vh;
  padding-top:12.5%;
}

.logo{
    display: inline-block;
    margin: 0;
    max-height: 90px;
}

.home-block{
  top:50%;
  position:fixed;
}
.form-header{
    font-size: 35px;
    line-height: 56px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0 1em;
}

.form-subheader{
    font-size: 22px;
    line-height: 35px;
    font-weight: 300;
}

.button-next{
  width: 100%;
}
.button-next-right-align{
  text-align: right !important;
}